body {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* this h1 section moves maain header to center */
  h1{
    text-align: center;
  }

/* This nav section centers top links */
nav{
  text-align: center;
}
nav a {
  padding:10;
  background: #ccc;
}



#the-shot{
  display: block;
  text-align: center;
}

figcaption{
  font-size: 15px;
  text-align: center;
  
}
#featured-property p{
  text-align: center;
  width: 800px;
  margin: auto;
}

#details footer{
  display: block;
  margin:0 auto;
  width: 25%;
  height: 150px;
  text-align: center;
  float: left;
  background-color: red;
}



